p{

}
.name{
    color:darkorange;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.contactheader{
    color: darkorange;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}